
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: black;
    background: #024b61   
}
.topo__container{
    margin: 0 auto ;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #0e7490;
    padding: 55px;
    border-radius: 12px;

}

.conteudo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.conteudo input{
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: 1px  ;
    outline: none;
    font-size: 1.2rem;
    background: #cffafe;
}

.conteudo button{
    width: 45px;
    border-radius: 12px;
    border: 1px;
    background: #cffafe ;
    color: rgba(0,0,0);
}

.conteudo button:hover{
    background:#8de1e9 ;
    cursor: pointer;
}

#listaTarefas{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listaTarefas li{
    padding: 20px;
    background: #cffafe ;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btnAcao{
    border-radius: 20px;
    border: 1px solid #0e7490 ;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background: #0e7490;
    color:black;
}

.btnAcao:hover{
    background: #024b61;
}